body {
  background-color: rgb(17, 17, 17);
}

#text {
  background-color: black;
  border-radius: 0 0 5px 5px;
  color: white;
  padding: 10px;
  height: 60px;
  font-size: 17px;
}

#game {
  max-width: 480px;
  max-height: 480px;
  border-radius: 10px;
  background-color: rgb(175, 150, 68);
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#scene {
  height: 320px; 
  width: 480px;
  background-image: url(images/town3.jpeg);
  background-size: cover;
}

#controls {
  border: 1px black solid;
  padding: 5px;
  background-color:rgb(129, 87, 8);
}

#controls button{
  width: 24.3%;
  height: 30px;
  border-radius: 5px;
  background-color:rgb(194, 149, 65);
}

#controls button:hover:enabled{
  background-color: rgb(219, 168, 74);
}

#stats {
  border: 1px black solid;
  border-radius: 5px 5px 0 0;
  background-color: rgb(172, 123, 32);
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 17px;
  display:flex;
  justify-content: space-between;
}

#monsterStats {
  position: absolute;
  width: 468px;
  display: none;
  border: 1px black solid;
  border-top: 0px;
  color: white;
  padding: 5px;
  background-color: red;
  font-size: 17px;
}

.stat {
  padding-right: 10px;
}

.statIcon {
  width: 15px;
  height: 15px;
}

#easterEggButtons{
  display: none;
  border: 1px black solid;
  padding: 5px;
  background-color: rgb(129, 87, 8);
}

#easterEggButtons button{
  background-color: rgb(194, 149, 65);
  border-radius: 5px;
  height: 30px;
  width: 30px;
}

#easterEggButtons button:hover:enabled{
  background-color: rgb(219, 168, 74);
}

#player{
  position: absolute;
  top: 225px;
  width: 150px;
  height: 150px;
  visibility: hidden;
}

