body {
  background-color: rgb(17, 17, 17);
}

#text {
  background-color: black;
  border-radius: 0 0 5px 5px;
  color: white;
  padding: 10px;
  height: 60px;
  font-size: 17px;
}

#game {
  max-width: 480px;
  max-height: 480px;
  border-radius: 10px;
  background-color: rgb(175, 150, 68);
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#scene {
  height: 320px; 
  width: 480px;
  background-image: url(images/town.jpeg);
  background-size: cover;
  position: relative;
}

#controls {
  border: 1px black solid;
  padding: 5px;
  background-color: rgb(172, 123, 32);
}

#controls button{
  width: 32.75%;
  height: 30px;
  border-radius: 5px;
  background-color:rgb(194, 149, 65);
}

#controls button:hover:enabled{
  background-color: rgb(219, 168, 74);
}

#stats {
  border: 1px black solid;
  border-radius: 5px 5px 0 0;
  background-color: rgb(172, 123, 32);
  color: rgb(0, 0, 0);
  padding: 5px 5px 2px 5px;
  font-size: 17px;
  display:flex;
  justify-content: space-between;
}

#monsterStats {
  position: absolute;
  top: 47px;
  z-index: 2;
  width: 468px;
  display: none;
  border: 1px black solid;
  border-top: 0px;
  color: white;
  padding: 5px;
  background-color: red;
  font-size: 17px;
}

.stat {
  padding-right: 10px;
}

.statIcon {
  width: 15px;
  height: 15px;
}

#easterEggButtons{
  display: none;
  border: 1px black solid;
  padding: 5px;
  background-color: rgb(129, 87, 8);
}

#easterEggButtons button{
  background-color: rgb(194, 149, 65);
  border-radius: 5px;
  height: 30px;
  width: 30px;
}

#easterEggButtons button:hover:enabled{
  background-color: rgb(219, 168, 74);
}

#player{
  position: absolute;
  top: 180px;
  width: 150px;
  height: 150px;
  visibility: hidden;
  z-index: 1;
}

#monster{
  position: absolute;
  bottom: 0px;
  right: 0px;
  visibility: hidden;
}

#credits{
  text-align: center;
  color:grey;
}

#credits :nth-child(2){
  font-size:10px;
}

#credits a{
  color:grey;
  text-decoration: none;
}

#credits a:hover{
  color:rgb(189, 189, 189);
}

.playerAttack {
  animation-name: move-right;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes move-right {

  from {
    left: 0px;
    transform: rotate(5deg)
  }

  to {
    left: 25%;
  }
}

:root{
  --my-end-left: 200px;
}

.monsterAttack {
  animation-name: move-left;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes move-left {

  from {
    right: 0px;
    transform: rotate(-5deg)
  }

  to {
    right: var(--my-end-left);
  }
}

.damage{
  z-index: 2;
  position: absolute;
  font-size: 24px;
  opacity: 0;
}

#monsterDamage {
  bottom: 60px;
  left: 65px;
  z-index: 2;
  color: red;
}

#playerDamage {
  bottom: 60px;
  right: 50px;
  z-index: 2;
}

.damageAnimation {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

   50% {
    opacity: 0.75;
  }
 
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

