body {
  background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
  height: 55px;
}

#game {
  max-width: 480px;
  max-height: 480px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#scene {
  height: 320px; 
  width: 480px;
  background-image: url(images/town3.jpeg);
  background-size: cover;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  position: absolute;
  width: 468px;
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}

.statIcon {
  width: 15px;
  height: 15px;
}

#easterEggButtons{
  display: none;
  border: 1px black solid;
  padding: 5px;
}

#player{
  position: absolute;
  top: 225px;
  width: 150px;
  height: 150px;
  visibility: hidden;
}